body{
    background-color: azure;
    text-align: justify;
    color: black;
    font-style: 'Open-sans',serif;
}
p{
    font-weight: 400;
}
.parallax{
    background-image: url('../images/base.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2{
    background-image: url('../images/parallax2.png');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3{
    background-image: url('../images/parallax3.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax4{
    background-image: url('../images/vanta.png');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax5{
    background-image: url('../images/illustrations.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax6{
    background-image: url('../images/parallax6.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-block{
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    text-align: center;
    height: 100px;
    font-family: 'Open Sans';
    background-color: #0066A1;
}

.laptop{
    display:block;
    text-align: left;
}
.mobile{
    display: none;
}
.f2f-logo{
    width: 500px;
}

.half{
    width: 300px;
}
.welcome-block h3{
    font-weight: 600;
    padding-top: 20px;
    font-size: 3em;
    color: white;
}
.edition-num{
    color: #0066A1;
    text-align:center;
    padding-top: 5px;
}
.link{
    width: 400px;
}
.volt-logo{
    width: 400px;
}

.normal{
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
p{
    padding-left: 10px;
    padding-right: 10px;
}
@media 
only screen and (max-width: 760px) {
    p{
        font-size: 1.1em;
        font-weight: 400;
        padding-left: 10px;
        padding-right: 10px;
    }
    .welcome-block{
        width: 100%;
        margin: 0px;
        text-align: center;
        height: 100px;
        font-family: 'Open Sans','serif';
        background-color: #0066A1;
    }
    .welcome-block h3{
        font-weight: 400;
        padding-top: 20px;
        font-size: 2.5em;
        color: white;
    }
    .link{
        width: 200px;
    }       
    .f2f-logo{
        width: 300px;
    }
    .volt-logo{
        width: 300px;
    }
    .half{
        width: 300px;
    }
    .laptop{
        display: none;
    }
    .mobile{
        display:block;
    }
}


.edition-num{
    color: #0066A1;
    text-align:center;
}
.introduction .heading{
    text-align:center;
    color: #0066A1;
    padding-top: 50px;
}
.introduction .heading h2{
    font-weight: 200;
    font-family: 'Times New Roman';
}
.heading h4,.heading h3{
    color: #0066A1;
    text-align: center;
}
.introduction, .wie, .sight{
    font-size: 1em;
    font-weight: 200;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #0066A1; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }
  
.by{
    float:right;
    background-color: silver;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.next{
    clear: both;
    border-radius: 20px;
    background-color: rgb(240, 250, 250);
    padding-left: 10px;
    padding-right: 10px;
}
.volt{
    background-color: rgb(167, 243, 218);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.heading-wie h2, .heading-wie h4{
    color: rgb(245, 77, 105);
    text-align: center;
}

.site h2, .site h4{
    color: rgb(49, 206, 49);
    text-align: center;
}

.footer{
    background: #0066A1;
    color: white;
    text-align: center;
    font: times;
    font-size: 1.2em;
    line-height: 50px;
}


.width{
    width: 150px;
}

.upcoming p{
    font-style: oblique;
    text-align: center;
    color: #0066A1;
}

.upcoming h5{
    color: #0066A1;
}

u{
    color: #0066A1;
}

.sight u{
    color: rgb(49, 206, 49);
}

.wie u{
    color: rgb(245, 77, 105);
}